<div class="left">
    <div class="flip-container" *ngFor="let pokemon of pokemons">
        <img id='myImage' src="https://opengameart.org/sites/default/files/card%20back%20red.png" (click)="clicked($event, pokemon.image_link)" style="height: 200px; width: 150px;">
    </div>
    <div class="flip-container" *ngFor="let pokemon of pokemons">
        <img id='myImage' src="https://opengameart.org/sites/default/files/card%20back%20red.png" (click)="clicked($event, pokemon.image_link)" style="height: 200px; width: 150px;">
    </div>
    <button (click)="button()">hey me</button>
</div>
